
      
.tabs{
    margin: 0; padding: 0;
    overflow-x: scroll;
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
}

@media(max-width: 498px) {
    .tabs{
        justify-content: start;
    }
}
.tab{
    margin: 0;padding: 0; border: 0;
    color: #aaa;
    padding: 10px 20px;
    border-top: 1px;
    border-color: rgba(0,0,0,0);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    border-style: solid;
    transition: all .3s;
}
.tab:hover{
    border: 0px 1px 0px 0px;
    border-color: #888;
    border-style: solid;
    background-color: #262626;
    color: white;
}
#tab_active{
    border: 0px 1px 0px 0px;
    border-color: #fff;
    border-style: solid;
    background-color: #333;
    color: white;
}

.tab_iframe{
    margin: 0;
}
.title_desc{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 20px;
    text-shadow: #000 30px 0px 30px;  
    background-color: rgba(0,0,0,0.2);  
    border-radius: 20px;   
    text-align: center;
}